.modifier{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1230px;
    .modifier_header{
        height: 50px;
        line-height: 50px;
        border-bottom: 1px dashed #cccccc;
        font-size: 18px;
        padding-right: 2%;
        p:nth-child(1){
            float: left;
            padding-left: 2%;
            width: 200px;
        }
        p:nth-child(2){
            float: right;
            font-size: 18px;
            ul{
                float: right;
                li{
                    float: left;    
                    color: #000000;
                }
            }
        }
    }
    .modifier_main{
        flex: 1;
        overflow-y: auto;
        // padding-top: 1%;
        padding-left: 2%;
        padding-right: 2%;
        // padding-bottom: 3%;
        .main_top{
            ul{
                float: right;
                width: 30%;
                // padding-right: 2%;
                li{
                    float: right;
                    width: 50%;
                    margin-bottom: 8px;
                    // margin-left: 2%;
                    margin-top: 2%;
                    height: 40px;
                    line-height: 40px;
                    label{
                        text-align: justify;
                        float: left;
                        height: 100%;
                        font-size: 14px;
                    }
                    label:after {
                        content: "";
                        display: inline-block;
                        width: 80px;
                    }   
                    .el-select{
                        width: 65%;
                    }
                }
                li:nth-child(2){
                    .el-select{
                        width: 100%;
                    }
                }
            }
        }
        .mian_msg{
            width: 60%;
            float: left;
            margin-right: 20px;
            padding-right: 20px;
            // background: #ccc;
            h1{
                font-size: 18px;
                span:nth-child(2){
                    font-size: 14px;
                    float: right;
                    margin-right: 5%;
                }
            }
            .main_msg_left{
                width: 120px;
                height: 100%;
                float: left;
                margin-top: 2%;
            };
            ul{
                width: 100%;
                padding-left: 120px;
                margin-top: 2%;
                li{
                    width: 48%;
                    float: left;
                    margin-bottom: 8px;
                    margin-left: 2%;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    label{
                        text-align: justify;
                        float: left;
                        height: 100%;
                        width: 70px;
                    }
                    label:after {
                        content: "";
                        display: inline-block;
                        width: 80px;
                    } 
                    .el-input{
                        width: 64%;
                    }
                }
            }
        }
        .main_right{
            width: 30%;
            float: left;
            // background: #ccc;
            h1{
                font-size: 18px;
            }
            ul{
                width: 100%;
                margin-top: 2%;
                li{
                    margin-bottom: 8px;
                    margin-left: 2%;
                    padding-right: 2%;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    label{
                        text-align: justify;
                        float: left;
                        height: 100%;
                        width: 70px;
                    }
                    label:after {
                        content: "";
                        display: inline-block;
                        width: 80px;
                    } 
                    .el-input{
                        width: 79%;
                    }
                }
            }
        }
    }
    .modifier_footer{
        padding: 1.5%;
    }
}